:root {
    --primary-color: #0468BF; /* Sapphire Blue */
    --accent1-color: #4F8C6F; /* Molly Robins */
    --accent2-color: #2C4001; /* Dark Olive */
    --heading-font: "Segoe-UI", "Arial", serif; 
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin:  auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff; 
}

.hero article {
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
    top: 400px;
    opacity: 0.8;
    margin: 0;
}

.hero article img {
    float: right;
    width: 125px;
    
}

h2{
    margin: 0;
    background-color: var(--accent2-color);
    width: 840px;
    padding: 10px 5px;
    color: #fff;
    text-align: center;
}

section p, footer p {
    color: #000;
}


footer img {
    width: 50px;
    height: auto;
}

