* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #333333;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;

}

header p {
    font-size: 2em;
}

main h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.4rem;
}

picture img {
    display: block;
    max-width: 450px;
    margin: 15px auto;
    box-shadow: 0 0 25px #333333;
}

section {
    background-color: #ddd;
    max-width: 450px;
    margin: 25px auto;
    padding: 20px;
    line-height: 1.5em;
}

section h2 {
    border-bottom: 2px solid #333333;
    margin-bottom: 15px;
    padding-bottom: 5px;

}

section p {
    margin-bottom: 15px;
}

section ul {
    padding-left: 25px;
}